#wrapper{

}

ul{
list-style-type: none;
}

li{
padding: 5px;
display: inline;
}

#header{
font-size: 10px;
position: relative;
float: right;
margin: auto;
}

#body{
position: absolute;
margin-top: 200px;
margin-left: 250px;
}

#searchbar{
width: 100%;
clear: both;
}

#searchbutton, #luckybutton{
margin-top: 10px;
}


#footer{
position: absolute;
bottom:10;
margin: auto;
font-size: 10px;
}

